body {
    font-family: sans-serif;
}


h1 {
    
}

.football{
    margin-top: 20px;
}

p {
    margin-top: 20px;
    font-size: 50px;
}

.home{
    background-image: url(./futebol2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;


}